Django>=5.0,<6.0
markdown
Pillow
psycopg2-binary
gunicorn
redis
channels
channels-redis
django-allauth
whitenoise
celery
requests
urllib3
certifi
charset-normalizer
idna
PyJWT
cryptography
oauthlib
requests-oauthlib
python3-openid

